<!--
  Generated template for the DonationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>donation</ion-title>
    </ion-navbar>

</ion-header>



<ion-content class="masters">

    <ion-card class="bradcumb">
        <ion-card-header>
            Donation
        </ion-card-header>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col col-5>
                Donation Type
            </ion-col>
            <ion-col col-7>
                <ion-select [(ngModel)]="donationType">
                    <ion-option value="Cash">Cash / Cheque / Kind</ion-option>
                    <ion-option value="Food">Food Items for Cow</ion-option>
                    <ion-option value="Development">New Development Works</ion-option>
                    <!-- <ion-option value="Digital">Digital Payment</ion-option> -->
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <div class="contant-sec">
                    <div class="contant-text">
                        <p>{{donationContent}}</p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-card class="pinkgrey form-sec" *ngIf="donationType=='Cash'">
        <ion-card-header>
            Cash / Cheque / Kind
        </ion-card-header>
        <div class="donation-content" [innerHTML]="donationCashContent"></div>
    </ion-card>



    <ion-card class="pinkgrey form-sec" *ngIf="donationType=='Development'">
        <ion-card-header>
            New development works in Goushala
        </ion-card-header>
        <div class="donation-content" [innerHTML]="donationDevelopmentContent"></div>
    </ion-card>


    <ion-card class="pinkgrey form-sec" *ngIf="donationType=='Food'">
        <ion-card-header>
            Food Items for Cow
        </ion-card-header>
        <div class="donation-content" [innerHTML]="donationFoodContent"></div>
    </ion-card>


    <ion-card class="pinkgrey form-sec" *ngIf="donationType=='Digital'">
        <ion-card-header>
            Donation Information
        </ion-card-header>
        <form [formGroup]="donationForm" novalidate (submit)="submitDonation()" novalidate>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-label>First Name</ion-label>
                        <ion-input type="text" formControlName="fname" name="fname" [ngClass]="displayFieldCss('fname')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('fname')">Please enter a First Name.</span>
                    </ion-col>
                    <ion-col col-6>
                        <ion-label>Last Name</ion-label>
                        <ion-input type="text" formControlName="lname" name="lname" [ngClass]="displayFieldCss('lname')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('lname')">Please enter a Last Name.</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-label>Mobile No.</ion-label>
                        <ion-input type="tel" formControlName="phone" name="phone" [ngClass]="displayFieldCss('phone')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('phone')">Please enter a Mobile No.</span>
                    </ion-col>
                    <ion-col col-6>
                        <ion-label>Email</ion-label>
                        <ion-input type="email" formControlName="email" name="email" [ngClass]="displayFieldCss('email')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('email')">Please enter an Email.</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-16>
                        <ion-label>Amount</ion-label>
                        <ion-input type="amount" formControlName="amount" name="amount" [ngClass]="displayFieldCss('amount')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('amount')">Please enter Amount.</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12 style="text-align: right;">
                        <button ion-button color="dark" round (click)="submitDonation()">Donate now</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-card>




</ion-content>